name: Python Package

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        pip install Cython numpy
        sudo apt install -y libopenmpi-dev
        pip install mpi4py
        pip install runtests
        pip install .

    - name: Test
      run: |
        python run-tests.py --mpirun="mpirun -np 2"
